@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?machp9');
	src:url('fonts/icomoon.eot?#iefixmachp9') format('embedded-opentype'),
		url('fonts/icomoon.woff?machp9') format('woff'),
		url('fonts/icomoon.ttf?machp9') format('truetype'),
		url('fonts/icomoon.svg?machp9#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-envelope:before {
	content: "\f0e0";
}

.icon-home2:before {
	content: "\e801";
}

.icon-ok:before {
	content: "\e800";
}

.icon-magnifier:before {
	content: "\e612";
}

.icon-play2:before {
	content: "\e613";
}

.icon-arrow-below:before {
	content: "\e01b";
}

.icon-arrow-previous:before {
	content: "\e00e";
}

.icon-arrow-next:before {
	content: "\e00b";
}

.icon-arrow-prev:before {
	content: "\e006";
}

.icon-globe:before {
	content: "\e016";
}

.icon-drop:before {
	content: "\e600";
}

.icon-fan:before {
	content: "\e601";
}

.icon-home:before {
	content: "\e602";
}

.icon-house:before {
	content: "\e603";
}

.icon-people:before {
	content: "\e605";
}

.icon-phone:before {
	content: "\e606";
}

.icon-phone_2:before {
	content: "\e608";
}

.icon-play:before {
	content: "\e609";
}

.icon-services:before {
	content: "\e60a";
}

.icon-snowflake:before {
	content: "\e60b";
}

.icon-tap:before {
	content: "\e60c";
}

.icon-turbine:before {
	content: "\e60d";
}

.icon-ventilator:before {
	content: "\e60e";
}

.icon-circles:before {
	content: "\e60f";
}

.icon-close:before {
	content: "\e610";
}

.icon-car:before {
	content: "\e611";
}

.icon-info:before {
	content: "\e604";
}

.icon-ampersand:before {
	content: "\e607";
}

.icon-undo:before {
	content: "\e967";
}

.icon-redo:before {
	content: "\e968";
}

.icon-arrow-right2:before {
	content: "\ea3c";
}

.icon-google-plus:before {
	content: "\ea88";
}

.icon-facebook:before {
	content: "\ea8c";
}

.icon-twitter:before {
	content: "\ea91";
}

.icon-youtube:before {
	content: "\ea99";
}

.icon-linkedin:before {
	content: "\eac9";
}

